@import url(https://fonts.googleapis.com/css?family=Marvel:regular,italic,700,700italic);
#login-form {
  margin-bottom: 10px;
  border: 2px outset;
  padding: 0 5px 10px 10px;
}
#new-user-form {
  border: 2px outset;
  padding: 5px 5px 10px 10px;
}

header {
  margin: 0;
  background: linear-gradient(#f0131e, #610d0f);
  font-weight: 300;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
.nav-container {
  width: 100%;
  margin: 0 auto;
}

.logo {
  float: left;
  align-content: center;
  padding: 10px 0;
  padding-left: 10px;
}

nav {
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 40px;
  padding-right: 25px;
  position: relative;
}
nav a {
  text-decoration: none;
  color: silver;
  font-weight: 300;
  text-shadow: -3px 3px rgb(149, 7, 7);
  text-transform: uppercase;
}
nav a:hover {
  color: #831517;
}
nav a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: silver;
  margin: 2px;
  transition: all ease-in-out 250ms;
}
nav a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: silver;
  margin: 2px;
  transition: all ease-in-out 250ms;
}
nav a:hover::before {
  width: 100%;
}
nav a:hover::after {
  width: 100%;
}
